body {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: #1e1e1e;
}

a {
  text-decoration: none;
  color: inherit;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 48px;
}

.header__nav {
  display: flex;
}

.icon__link-svg {
  transition: 0.3s;
}

.icon__link-svg:hover {
  scale: 1.1;
}

.navbar {
  display: flex;
  padding-left: 96px;
  gap: 48px;
}

.navbar__link-text {
  opacity: 0.4;
  transition: all 0.2s;
}

.navbar__link-text:hover {
  scale: 1.04;
}

.navbar__link-text-active {
  opacity: 1;
  scale: 1.04;
}

.navbar__link-text-active:hover {
  scale: 1.08;
}

.user__menu {
  display: flex;
  gap: 48px;
}

.user__menu-link {
  transition: all 0.3s;
}

.user__menu-link:hover {
  scale: 1.1;
}

.user__menu-link-active path {
  fill: #c1dcdc;
}

.search__inner {
  display: flex;
  width: 1248px;
  height: 512px;
  background-color: #c1dcdc;
  border-radius: 24px;
}

.search__top {
  max-width: 450px;
  max-height: 227px;
  padding-top: 48px;
  padding-left: 48px;
}

.search__title {
  font-weight: 800;
  font-size: 64px;
  margin-bottom: 24px;
}

.search__top-info {
  display: flex;
  gap: 45px;
  margin-bottom: 50px;
}

.border-text {
  border-right: 1px solid #1e1e1e;
  padding-right: 45px;
}

.search__top-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

.search__top-text-sp {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 20px;
}

.search__area {
  position: absolute;
}

.search__input {
  position: absolute;
  width: 380px;
  padding: 20px 20px;
  padding-right: 60px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}

.search_input::placeholder {
  opacity: 0.5;
}

.box {
  position: absolute;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  margin-left: 435px;
  background-color: #c1dcdc;
  border-radius: 12px;
  left: -30px;
  margin-top: 8px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background-position: center;
  transition: all 0.4s;
}

.box:hover {
  scale: 1.1;
}

.image-stack {
  display: flex;
  position: relative;
}

.black__back {
  position: absolute;
  bottom: 0;
  right: 75px;
}

.plant {
  position: absolute;
  bottom: 0;
  right: 75px;
}

.arrows__1 {
  position: absolute;
  bottom: 100px;
  right: 540px;
}

.arrows__2 {
  position: absolute;
  bottom: 315px;
  right: 30px;
}

.best__selling-inner {
  display: flex;
  margin-top: 100px;
}

.best__selling-top {
  max-width: 196px;
  max-height: 264px;
  margin-right: 60px;
}

.best__selling-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
}

.best__selling-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  opacity: 0.5;
  margin-bottom: 25px;
}

.best__selling-more-btn {
  background-color: #c1dcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 173px;
  height: 51px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.best__selling-more-btn:hover {
  border: 2px solid #1e1e1e;
  background-color: rgba(193, 220, 220, 0.5);
  border-radius: 12px;
}

.best__selling-more-text {
  display: flex;
  font-size: 18px;
  font-weight: 500;
}

.btn__arrow {
  display: flex;
  padding-top: 3px;
  width: 28px;
  height: 24px;
  padding-left: 10px;
}

.best__selling-cards {
  display: flex;
}

.best__selling-cards {
  display: flex;
  margin-bottom: 101px;
  gap: 48px;
}

.best__selling-card-img {
  border-radius: 12px;
  transition: all 0.3s;
}

.best__selling-card-img:hover {
  scale: 1.1;
  border: 1px solid #1e1e1e;
  margin-bottom: 13px;
}

.best__selling-card-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
}

.best__selling-card-text:hover {
  text-decoration: underline;
  transition: all 0.5s;
}

.best__selling-card-price {
  font-size: 18px;
  font-weight: 500;
  margin-top: 13px;
  opacity: 0.5;
}

.about {
  margin-bottom: 175px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about__inner-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about__inner-text {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 50px;
}

.about__info {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.about__info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 400px;
  max-height: 213px;
}

.about__info-card-svg {
  display: flex;
  background-color: #c1dcdc;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
}

.about__info-card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.about__info-card-text {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.5;
}

.categories__grid-container {
  max-width: 100%;
  background-color: #c1dcdc;
  padding-bottom: 100px;
}

.categories__top-text-info {
  text-align: center;
  margin-bottom: 98px;
}

.categories__top-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 17px;
}

.categories__top-text {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.5;
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 96px;
}

.category__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-card {
  margin-top: 96px;
}

.category__card-img {
  margin-bottom: 17px;
  border-radius: 12px;
  margin-top: -50px;
}

.category__card-text {
  font-size: 18px;
  font-weight: 700;
}

.categories__bottom {
  max-width: 262px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.categories__bottom-text {
  font-size: 18px;
  font-weight: 500;
}

.categories__bottom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  width: 173px;
  height: 51px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.categories__bottom-btn:hover {
  border: 2px solid #1e1e1e;
  border-radius: 12px;
}

.categories__bottom-text {
  font-size: 18px;
  opacity: 1;
  font-weight: 500;
}

.slider__customers {
  display: flex;
}

.title-pagination {
  display: flex;
  justify-content: space-between;
}

.slider__customers {
  margin-bottom: 250px;
}

.slider__customer-title-top {
  font-size: 32px;
  font-weight: 700;
  margin-top: 96px;
  margin-bottom: 43px;
  max-width: 446px;
}

.swiper-slide {
  background-color: #c1dcdc;
  border-radius: 12px;
  max-width: 800px;
  height: 330px;
}

.swiper__slide-container {
  max-width: 800px;
  max-height: 330px;
}

.swiper__slide-text {
  padding-top: 48px;
  padding-left: 48px;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
}

.swiper__slide-bottom {
  display: flex;
  justify-content: space-between;
}

.slide__bottom-img-int {
  display: flex;
}

.slide__bottom-int {
  padding-top: 75px;
  max-width: 160px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(30, 30, 30, 0.5);
}

.slide__name {
  display: grid;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgba(30, 30, 30, 1);
}

.rait {
  position: relative;
  right: 50px;
  top: 80px;
}

.rait__text {
  font-size: 18px;
  font-weight: 700;
}

.swiper-pagination-bullet {
  border-radius: 12px !important;
  width: 12px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #c1dcdc !important;
  border-radius: 12px !important;
  width: 48px !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative !important;
  top: 100px !important;
  left: 450px !important;
}
